<div class="contact-container">

    <div class="container1">
        <div class="texto">
            <h1 class="bc-copy-block__heading1 bc-copy-block__heading--text" style="--bc-copy-block__heading_text-align--desktop:left;--bc-copy-block__heading_text-align:left;  ">Facebook</h1>
        </div>   
        <div class="info1">
            <div class="Contact">
                <div class="image">    
                    <img src="../../assets/img/facebook.png" width="50" height="50" alt="">
                </div>
                <br><br>
                <div class="texto1">
                    <p>&#64; facebook1</p>
                    <p>&#64; facebook2</p>
                    <p>&#64; facebook3</p>
                    <p>&#64; facebook4</p>
                    <p>&#64; facebook5</p>

                </div>
            </div>
        </div>    
    </div> 
    <div class="container4">
        <div class="texto">
            <h1 class="bc-copy-block__heading4 bc-copy-block__heading--text" style="--bc-copy-block__heading_text-align--desktop:left;--bc-copy-block__heading_text-align:left;  ">Contacto </h1>
        </div>
        <div class="info4">
            <div class="Contact">
                <div class="image">
                    <img src="../../assets/img/correo.png" width="50" height="50" alt="">
                </div>
                <br><br>
                <div class="texto4">
                    <p> correogenerico1&#64;gmail.com</p>
                    <p> correogenerico2&#64;gmail.com</p>
                    <p> Telefono</p>
                    <p> 999-999-9999</p>
                    <p> 999-999-9999</p>
    
                </div>
            </div>
        </div>
    </div>
    
    <div class="container3">
        <div class="texto">
            <h1 class="bc-copy-block__heading3 bc-copy-block__heading--text" style="--bc-copy-block__heading_text-align--desktop:left;--bc-copy-block__heading_text-align:left;  ">X </h1>
        </div>   
        <div class="info3">
            <div class="Contact">
                <div class="image">    
                    <img src="../../assets/img/gorjeo.png" width="50" height="50" alt="">
                </div>
                <br><br>
                <div class="texto3">
                    <p>&#64; X/GenericAccount1</p>
                    <p>&#64; X/GenericAccount2</p>
                    <p>&#64; X/GenericAccount3</p>
                    <p>&#64; X/GenericAccount4</p>
                    <p>&#64; X/GenericAccount5</p>

                </div>
            </div>
        </div>    
    </div> 
    <div class="container2">
        <div class="texto">
            <h1 class="bc-copy-block__heading2 bc-copy-block__heading--text" style="--bc-copy-block__heading_text-align--desktop:left;--bc-copy-block__heading_text-align:left;  ">Instagram</h1>
        </div>   
        <div class="info2">
            <div class="Contact">
                <div class="image">    
                    <img src="../../assets/img/instagram.png" width="50" height="50" alt="">
                </div>
                <br><br>
                <div class="texto2">
                    <p>&#64; instagram1</p>
                    <p>&#64; instagram2</p>
                    <p>&#64; instagram3</p>
                    <p>&#64; instagram4</p>
                    <p>&#64; instagram5</p>

                </div>
            </div>
        </div>    
    </div> 

    

   
</div>