<body>


    <div class="container">
        <div class="row-container">
            <div class="video">
                <video width="768" height="432" controls>
                    <source src="../../assets/img/Borderlands3Cinematic.mp4" type="video/mp4">
                    Tu navegador no admite el elemento de vídeo.
                  </video>
            </div>
    
            <div class="">
                
                <div class="bc-copy-block__body" style="--bc-copy-block__body_text-align--desktop:left;--bc-copy-block__body_text-align:left;">
                    <h1 class="bc-copy-block__heading bc-copy-block__heading--text" style="--bc-copy-block__heading_text-align--desktop:left;--bc-copy-block__heading_text-align:left;">WELCOME TO THE BORDERLANDS</h1>
                    <p>So you want to hear a story, eh?</p>
                    <p>A tale of Vaults filled with riches and incredible powers—too bad the mega-corporations, vicious bandits, and annoying, unhelpful robots want it all for themselves!</p>
                    <p>As Vault Hunters, you'll brave the merciless Borderlands in search of secret alien treasure, looting and shooting everything in sight (with the odd bit of hero stuff mixed in).</p>
                    <p>Meet unforgettable characters (plus a few losers) and see if you have what it takes to go down in history as a legendary Vault Hunter.</p>
                </div>
            </div>

        </div>
        


    </div>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/watch?v=gca74LPa3OI&t=227s" frameborder="0" allowfullscreen></iframe> -->
</body>
