<body>
    <br><br><br><br>

   <div class="container">
        <div class="texto">
            <h1 class="bc-copy-block__heading bc-copy-block__heading--text" style="--bc-copy-block__heading_text-align--desktop:left;--bc-copy-block__heading_text-align:left;  ">WELCOME TO THE MAYHEM</h1>
        
        </div>

        <div class="video">
            <video width="768" height="432" controls>
                <source src="../../assets/img/BorderlandsTrailer.mp4" type="video/mp4">
             Tu navegador no admite el elemento de vídeo.
              </video>
        </div>
   </div> 


</body>