
body {
    background-image: url('https://images2.alphacoders.com/619/619987.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    /* Otros estilos opcionales */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    height: 100vh; /* Establece la altura del cuerpo para cubrir la pantalla */

    
  }
  .container{
    justify-content: center; /* Centrar horizontalmente */
 
    border: 2px solid #015a8e;
    margin: 5px;
    margin-left: 30vh;
    margin-right: 30vh;


  }

 h1{
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    justify-content: center; /* Centrar horizontalmente */
    display: flex;
    padding: 2vh;
    background-color: #01355b;
    font-size: 2rem;
    font-style: italic;
    font-family: countach,Arial Narrow,sans-serif;

}




.video{
    background-color: #021523;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding-top: 50px;
    padding-bottom: 50px;


}
.bc-copy-block__heading {
    margin: 0px; /* Elimina el margin */
    padding: 5px; /* Elimina el padding */
  }